<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>
<f:section name="main">
    <div style="display:none;">
        <f:flashMessages/>
    </div>
    <f:if condition="{error} > 0">
        <f:if condition="{error} == 1">
            <p class="alert alert-danger">{f:translate(key: 'wrong_parameters', default: 'wrong parameters')}</p>
        </f:if>
        <f:if condition="{error} == 2">
            <p class="alert alert-danger">{f:translate(key: 'wrong_uid', default: 'wrong uid parameter')}</p>
        </f:if>
        <f:if condition="{error} == 3">
            <p class="alert alert-danger">{f:translate(key: 'wrong_hash', default: 'wrong hash parameter')}</p>
        </f:if>
        <f:if condition="{error} == 4">
            <p class="alert alert-danger">{f:translate(key: 'wrong_expired', default: 'hash expired')}</p>
        </f:if>
        <f:if condition="{error} == 7">
            <p class="alert alert-danger">{f:translate(key: 'wrong_unsubscribed', default: 'you are not subscribed')}</p>
        </f:if>
        <f:if condition="{error} == 8">
            <p class="alert alert-danger">{f:translate(key: 'wrong_email', default: 'ivalid email')}</p>
        </f:if>
    </f:if>

    <f:render partial="FormErrors" arguments="{object:Log}"/>

    <f:form action="update" name="log" pluginName="edit" object="{log}">
        <f:render partial="Log/FormFieldsEdit" arguments="{_all}"/>
        <f:form.hidden name="hash" value="{log.securityhash}"/>
        <f:form.hidden name="log[gdpr]" value="1" />
        <f:form.submit value="{f:translate(key: 'save', default: 'save')}" class="btn btn-sm btn-secondary"/>
    </f:form>

    <br>
    <p>*) {f:translate(key: 'required', default: 'required')}</p>
</f:section>
</html>