<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="main">
	<f:form pageUid="{settings.subscribeUid}" action="create" pluginName="new" name="log">
		<f:render partial="Log/FormFields" arguments="{_all}" />
		<f:form.submit value="{f:translate(key: 'subscribe', default: 'subscribe')}" class="btn btn-sm btn-secondary" />
	</f:form>
	<br>
	<p>*) {f:translate(key: 'required', default: 'required')}</p>
</f:section>
</html>