<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><f:translate key="email.subscription" /></title>
</head>
<body>
<h3>
    <f:if condition="{gender} && {lastname}">
        <f:then>
            <f:translate key="email.dear-gender-first-and-last-name" arguments="{0: gender, 1: firstname, 2: lastname}" />
        </f:then>
        <f:else if="{lastname}">
            <f:translate key="email.dear-first-and-last-name" arguments="{1: firstname, 2: lastname}" />
        </f:else>
        <f:else>
            <f:translate key="email.dear" />
        </f:else>
    </f:if>
</h3>
<p><f:translate key="email.subscribedSuccess" /></p>
<p><f:translate key="email.usedEmail" /> <a href="mailto:{email}">{email}</a></p>
<p><f:translate key="email.bestRegards" /><br>
{settings.company}</p>
</body>
</html>