<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><f:translate key="email.subscription" extensionName="FpNewsletter" /></title>
</head>
<body>
<f:render partial="Email/Salutation" arguments="{_all}" />
<p><f:translate key="email.pleaseVerify" extensionName="FpNewsletter" /></p>
<p><f:link.external uri="{fpnl:getActionUrl(pageUid:subscribeVerifyUid, pi:'verify', action:'verify', uid:uid, hash:hash)}"
                    target="_blank"><f:format.raw><f:uri.external uri="{fpnl:getActionUrl(pageUid:subscribeVerifyUid, pi:'verify', action:'verify', uid:uid, hash:hash)}" /></f:format.raw></f:link.external></p>
<p><f:link.external uri="{fpnl:getActionUrl(pageUid:subscribeVerifyUid, pi:'verify', action:'verify', uid:uid, hash:hash)}"
                    target="_blank" style="border:1px solid #000;border-radius:3px;padding:2px 10px;"><f:translate key="email.alternative" extensionName="FpNewsletter" /></f:link.external></p>
<p><f:translate key="email.bestRegards" extensionName="FpNewsletter" /><br>
{settings.company}</p>
</body>
</html>