<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><f:translate key="email.unsubscription" /></title>
</head>
<body>
<f:render partial="Email/Salutation" arguments="{_all}" />
<p><f:translate key="email.pleaseVerifyUnsubscription" /></p>
<p><f:link.action pageUid="{unsubscribeVerifyUid}" extensionName="fpnewsletter" pluginName="pi1" controller="Log" action="verifyUnsubscribe"
                  arguments="{uid: uid, hash: hash}" absolute="1"><f:format.raw><f:uri.action pageUid="{unsubscribeVerifyUid}" extensionName="fpnewsletter" pluginName="pi1" controller="Log" action="verifyUnsubscribe" arguments="{uid: uid, hash: hash}" absolute="1" /></f:format.raw></f:link.action></p>
<p><f:link.action pageUid="{unsubscribeVerifyUid}" extensionName="fpnewsletter" pluginName="pi1" controller="Log" action="verifyUnsubscribe"
                  arguments="{uid: uid, hash: hash}" absolute="1" style="border:1px solid #000;border-radius:3px;padding:2px 10px;"><f:translate key="email.alternative" /></f:link.action></p>
<p><f:translate key="email.bestRegards" /><br>
{settings.company}</p>
</body>
</html>