<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>
subscription form.
you could use prependOptionLabel="-" prependOptionValue="0" for a select too.
</f:comment>
<f:if condition="{optional.gender} == 1">
	<div class="form-group">
		<label for="fp_gender"><f:translate key="tx_fpnewsletter_domain_model_log.gender" /> <f:if condition="{required.gender} == 1"><span class="required">*</span></f:if></label>
		<f:if condition="{required.gender} == 1"><f:then>
			<f:form.select class="form-control" property="gender" id="fp_gender" options="{genders}" additionalAttributes="{required : 'required'}" />
		</f:then><f:else>
			<f:form.select class="form-control" property="gender" id="fp_gender" options="{genders}" />
		</f:else></f:if>
	</div>
</f:if>
<f:if condition="{optional.title} == 1">
	<div class="form-group">
		<label for="fp_title"><f:translate key="tx_fpnewsletter_domain_model_log.title" /> <f:if condition="{required.title} == 1"><span class="required">*</span></f:if></label>
		<f:if condition="{required.title} == 1"><f:then>
			<f:form.textfield class="form-control" property="title" id="fp_title" additionalAttributes="{required : 'required'}" />
		</f:then><f:else>
			<f:form.textfield class="form-control" id="fp_title" property="title" />
		</f:else></f:if>
	</div>
</f:if>
<f:if condition="{optional.firstname} == 1">
	<div class="form-group">
		<label for="fp_firstname"><f:translate key="tx_fpnewsletter_domain_model_log.firstname" /> <f:if condition="{required.firstname} == 1"><span class="required">*</span></f:if></label>
		<f:if condition="{required.firstname} == 1"><f:then>
			<f:form.textfield class="form-control" id="fp_firstname" property="firstname" additionalAttributes="{required : 'required'}" />
		</f:then><f:else>
			<f:form.textfield class="form-control" id="fp_firstname" property="firstname" />
		</f:else></f:if>
	</div>
</f:if>
<f:if condition="{optional.lastname} == 1">
	<div class="form-group">
		<label for="fp_lastname"><f:translate key="tx_fpnewsletter_domain_model_log.lastname" /> <f:if condition="{required.lastname} == 1"><span class="required">*</span></f:if></label>
		<f:if condition="{required.lastname} == 1"><f:then>
			<f:form.textfield class="form-control" id="fp_lastname" property="lastname" additionalAttributes="{required : 'required'}" />
		</f:then><f:else>
			<f:form.textfield class="form-control" id="fp_lastname" property="lastname" />
		</f:else></f:if>
	</div>
</f:if>
<div class="form-group">
	<label for="fp_email"><f:translate key="tx_fpnewsletter_domain_model_log.email" /> <span class="required">*</span></label>
	<f:form.textfield class="form-control" type="email" property="email" id="fp_email" placeholder="{f:translate(key: 'tx_fpnewsletter_domain_model_log.email')}" additionalAttributes="{required : 'required'}" />
</div>

<f:if condition="{optional.address} == 1">
	<div class="form-group">
		<label for="fp_address">
			<f:translate key="tx_fpnewsletter_domain_model_log.address" /><f:if condition="{required.address} == 1"> <span class="required">*</span></f:if>
		</label>
		<f:if condition="{required.address} == 1"><f:then>
			<f:form.textfield class="form-control" id="fp_address" property="address" additionalAttributes="{required : 'required'}" />
		</f:then><f:else>
			<f:form.textfield class="form-control" id="fp_address" property="address" />
		</f:else></f:if>
	</div>
</f:if>
<f:if condition="{optional.zip} == 1">
	<div class="form-group">
		<label for="fp_zip">
			<f:translate key="tx_fpnewsletter_domain_model_log.zip" /><f:if condition="{required.zip} == 1"> <span class="required">*</span></f:if>
		</label>
		<f:if condition="{required.zip} == 1"><f:then>
			<f:form.textfield class="form-control" id="fp_zip" property="zip" additionalAttributes="{required : 'required'}" />
		</f:then><f:else>
			<f:form.textfield class="form-control" id="fp_zip" property="zip" />
		</f:else></f:if>
	</div>
</f:if>
<f:if condition="{optional.city} == 1">
	<div class="form-group">
		<label for="fp_city">
			<f:translate key="tx_fpnewsletter_domain_model_log.city" /><f:if condition="{required.city} == 1"> <span class="required">*</span></f:if>
		</label>
		<f:if condition="{required.city} == 1"><f:then>
			<f:form.textfield class="form-control" id="fp_city" property="city" additionalAttributes="{required : 'required'}" />
		</f:then><f:else>
			<f:form.textfield class="form-control" id="fp_city" property="city" />
		</f:else></f:if>
	</div>
</f:if>
<f:if condition="{optional.region} == 1">
	<div class="form-group">
		<label for="fp_region">
			<f:translate key="tx_fpnewsletter_domain_model_log.region" /><f:if condition="{required.region} == 1"> <span class="required">*</span></f:if>
		</label>
		<f:if condition="{required.region} == 1"><f:then>
			<f:form.textfield class="form-control" id="fp_region" property="region" additionalAttributes="{required : 'required'}" />
		</f:then><f:else>
			<f:form.textfield class="form-control" id="fp_region" property="region" />
		</f:else></f:if>
	</div>
</f:if>
<f:if condition="{optional.country} == 1">
	<div class="form-group">
		<label for="fp_country">
			<f:translate key="tx_fpnewsletter_domain_model_log.country" /><f:if condition="{required.country} == 1"> <span class="required">*</span></f:if>
		</label>
		<f:if condition="{required.country} == 1"><f:then>
			<f:form.textfield class="form-control" id="fp_country" property="country" additionalAttributes="{required : 'required'}" />
		</f:then><f:else>
			<f:form.textfield class="form-control" id="fp_country" property="country" />
		</f:else></f:if>
	</div>
</f:if>
<f:if condition="{optional.phone} == 1">
	<div class="form-group">
		<label for="fp_phone">
			<f:translate key="tx_fpnewsletter_domain_model_log.phone" /><f:if condition="{required.phone} == 1"> <span class="required">*</span></f:if>
		</label>
		<f:if condition="{required.phone} == 1"><f:then>
			<f:form.textfield class="form-control" id="fp_phone" property="phone" additionalAttributes="{required : 'required'}" />
		</f:then><f:else>
			<f:form.textfield class="form-control" id="fp_phone" property="phone" />
		</f:else></f:if>
	</div>
</f:if>
<f:if condition="{optional.mobile} == 1">
	<div class="form-group">
		<label for="fp_mobile">
			<f:translate key="tx_fpnewsletter_domain_model_log.mobile" /><f:if condition="{required.mobile} == 1"> <span class="required">*</span></f:if>
		</label>
		<f:if condition="{required.mobile} == 1"><f:then>
			<f:form.textfield class="form-control" id="fp_mobile" property="mobile" additionalAttributes="{required : 'required'}" />
		</f:then><f:else>
			<f:form.textfield class="form-control" id="fp_mobile" property="mobile" />
		</f:else></f:if>
	</div>
</f:if>
<f:if condition="{optional.fax} == 1">
	<div class="form-group">
		<label for="fp_fax">
			<f:translate key="tx_fpnewsletter_domain_model_log.fax" /><f:if condition="{required.fax} == 1"> <span class="required">*</span></f:if>
		</label>
		<f:if condition="{required.fax} == 1"><f:then>
			<f:form.textfield class="form-control" id="fp_fax" property="fax" additionalAttributes="{required : 'required'}" />
		</f:then><f:else>
			<f:form.textfield class="form-control" id="fp_fax" property="fax" />
		</f:else></f:if>
	</div>
</f:if>
<f:if condition="{optional.www} == 1">
	<div class="form-group">
		<label for="fp_www">
			<f:translate key="tx_fpnewsletter_domain_model_log.www" /><f:if condition="{required.www} == 1"> <span class="required">*</span></f:if>
		</label>
		<f:if condition="{required.www} == 1"><f:then>
			<f:form.textfield class="form-control" id="fp_www" property="www" additionalAttributes="{required : 'required'}" />
		</f:then><f:else>
			<f:form.textfield class="form-control" id="fp_www" property="www" />
		</f:else></f:if>
	</div>
</f:if>
<f:if condition="{optional.position} == 1">
	<div class="form-group">
		<label for="fp_position">
			<f:translate key="tx_fpnewsletter_domain_model_log.position" /><f:if condition="{required.position} == 1"> <span class="required">*</span></f:if>
		</label>
		<f:if condition="{required.position} == 1"><f:then>
			<f:form.textfield class="form-control" id="fp_position" property="position" additionalAttributes="{required : 'required'}" />
		</f:then><f:else>
			<f:form.textfield class="form-control" id="fp_position" property="position" />
		</f:else></f:if>
	</div>
</f:if>
<f:if condition="{optional.company} == 1">
	<div class="form-group">
		<label for="fp_company">
			<f:translate key="tx_fpnewsletter_domain_model_log.company" /><f:if condition="{required.company} == 1"> <span class="required">*</span></f:if>
		</label>
		<f:if condition="{required.company} == 1"><f:then>
			<f:form.textfield class="form-control" id="fp_company" property="company" additionalAttributes="{required : 'required'}" />
		</f:then><f:else>
			<f:form.textfield class="form-control" id="fp_company" property="company" />
		</f:else></f:if>
	</div>
</f:if>

<f:if condition="{settings.module_sys_dmail_category}">
  <f:if condition="{settings.table} == 'tt_address'">
	<f:form.hidden property="categories" value="{settings.module_sys_dmail_category}" id="fp_categories" />
  </f:if>
</f:if>

<f:if condition="{settings.honeypot} > 0">
	<style>
	input#fp_extras {display:none !important;}
	</style>
	<f:form.textfield property="extras" id="fp_extras" />
</f:if>
<f:if condition="{settings.mathCAPTCHA} > 0">
	<div class="form-group">
		<label for="fp_mathcaptcha"><f:translate key="tx_fpnewsletter_domain_model_log.mathcaptcha" /> <span class="required">*</span></label>
		<f:form.textfield class="form-control" property="mathcaptcha" id="fp_mathcaptcha" additionalAttributes="{required : 'required'}" size="5" />
		(x = {log.mathcaptcha1} {f:if(condition: '{log.mathcaptchaop}', then: '+', else: '-')} {log.mathcaptcha2};
		<f:translate key="tx_fpnewsletter_domain_model_log.xcaptcha" />)
	</div>
</f:if>
<div class="form-group">
	<label for="fp_gdpr"><f:translate key="tx_fpnewsletter_domain_model_log.gdpr" /> <span class="required">*</span></label>
	<div class="form-control-checkbox">
		<f:form.checkbox property="gdpr" id="fp_gdpr" value="1" additionalAttributes="{required : 'required'}" /> &nbsp;
		<f:format.raw><f:translate key="tx_fpnewsletter_domain_model_log.gdpr_desc1" /></f:format.raw>
		<f:link.page pageUid="{settings.gdprUid}"><f:translate key="tx_fpnewsletter_domain_model_log.gdpr_link_text" /></f:link.page><f:format.raw><f:translate key="tx_fpnewsletter_domain_model_log.gdpr_desc2" /></f:format.raw>
	</div>
</div>
<f:if condition="{settings.reCAPTCHA_site_key}">
  <f:form.hidden property="retoken" id="recaptcha3keyS" />
  <script>
  var recaptcha3keyS = '{settings.reCAPTCHA_site_key}';
  grecaptcha.ready(function() {
      grecaptcha.execute(recaptcha3keyS, {action: 'homepage'}).then(function(token) {
         $('#recaptcha3keyS').val(token);
      });
  });
  </script>
</f:if>
</html>